<h1 mat-dialog-title class="titulo">Editar</h1>
<div mat-dialog-content class="mat-dialog-grid">
  <!-- Fila para el formulario -->
  <div class="mat-dialog-row">
    <!-- Opciones de formulario -->

    <div class="mat-dialog-cell">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input
          matInput
          placeholder="Ingresa el nombre"
          [(ngModel)]="departamento.Nombre"
          required
          aria-required="true"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>ApPaterno</mat-label>
        <input
          matInput
          placeholder="Ingresa el ApPaterno"
          [(ngModel)]="departamento.ApPaterno"
          required
          aria-required="true"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>ApMaterno</mat-label>
        <input
          matInput
          placeholder="Ingresa el ApMaterno"
          [(ngModel)]="departamento.ApMaterno"
          required
          aria-required="true"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Curp</mat-label>
        <input
          matInput
          placeholder="Ingresa el Curp"
          [(ngModel)]="departamento.curp"
          required
          aria-required="true"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Direccion</mat-label>
        <input
          matInput
          placeholder="Ingresa la Direccion"
          [(ngModel)]="departamento.Direccion"
          required
          aria-required="true"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input
          matInput
          type="number"
          placeholder="Ingresa el Usuario"
          [(ngModel)]="departamento.Usuario"
          required
          aria-required="true"
        />
      </mat-form-field>
    </div>
  </div>
  <!-- Opciones botones-->
</div>
<div mat-dialog-actions>
  <button class="cancelar" mat-button (click)="onNoClick()">Cancelar</button>
  <button class="guardar" mat-button (click)="guardar()">
    Guardar Cambios
  </button>
</div>
