<h1 mat-dialog-title class="titulo">Editar Ticket</h1>
<div mat-dialog-content class="mat-dialog-grid">
  <!-- Fila para el formulario -->
  <div class="mat-dialog-row">
    <!-- Opciones de formulario -->
    <div class="mat-dialog-cell">
      <mat-form-field>
        <mat-label>IdSucursal</mat-label>
        <select
          matNativeControl
          [(ngModel)]="tickets.IdSucursal"
          required
          aria-required="true"
          title="Selecciona la sucursal"
        >
          <option *ngFor="let item of sucursales" [value]="item.Id">
            {{ item.Nombre }}
          </option>
        </select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>IdCliente</mat-label>
        <select
          matNativeControl
          [(ngModel)]="tickets.IdCliente"
          required
          aria-required="true"
          title="Selecciona el cliente"
        >
          <option *ngFor="let item of clientes" [value]="item.Id">
            {{ item.Nombre }}
          </option>
        </select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>IdVendedor</mat-label>
        <input
          matInput
          type="number"
          placeholder="Ingresa la IdVendedor"
          [(ngModel)]="tickets.IdVendedor"
          required
          aria-required="true"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>UsuarioActualiza</mat-label>
        <input
          matInput
          type="number"
          placeholder="Ingresa el UsuarioActualiza"
          [(ngModel)]="tickets.UsuarioActualiza"
          step="1"
          required
          aria-required="true"
        />
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button class="cancelar" mat-button (click)="onNoClick()">Cancelar</button>
  <button class="guardar" mat-button (click)="guardar()">
    Guardar Cambios
  </button>
</div>
