<h1 mat-dialog-title class="titulo">Nuevo Detalle</h1>
<div mat-dialog-content class="mat-dialog-grid">
  <!-- Fila para el formulario -->
  <div class="mat-dialog-row">
    <!-- Opciones de Formulario -->
    <div class="mat-dialog-cell">
      <mat-form-field>
        <mat-label>IdPerfil</mat-label>
        <input
          type="number"
          matInput
          placeholder="Ingresa el IdPerfil"
          [(ngModel)]="IdPerfil"
          required
          aria-required="true"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="mat-dialog-row">
    <!-- Columna para el campo de nombre -->
    <div class="mat-dialog-cell">
      <mat-form-field>
        <mat-label>IdModulo</mat-label>
        <input
          type="number"
          matInput
          placeholder="Ingresa la IdModulo"
          [(ngModel)]="IdModulo"
          required
          aria-required="true"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="mat-dialog-row">
    <!-- Columna para el campo de nombre -->
    <div class="mat-dialog-cell">
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input
          type="number"
          matInput
          placeholder="Ingresa el Usuario"
          [(ngModel)]="Usuario"
          required
          aria-required="true"
        />
      </mat-form-field>
    </div>
  </div>
  <!-- Opciones botones-->
</div>
<div mat-dialog-actions>
  <button class="cancelar" mat-button cdkFocusInitial (click)="onNoClick()">
    Cancelar
  </button>
  <button class="guardar" mat-button cdkFocusInitial (click)="insertar()">
    Añadir
  </button>
</div>
