<mat-sidenav-container class="sidenav-container fondo-negro">
  <mat-sidenav #sidenav mode="side" class="sidenav">
      <!-- Contenido del menú -->
      <mat-nav-list class="barra">
        <a mat-list-item routerLink="/almacenes" >almacenes</a>
        <a mat-list-item routerLink="/articulos">articulos</a>
        <a mat-list-item routerLink="/clientes">clientes</a>
        <a mat-list-item routerLink="/rutas">rutas</a>
        <a mat-list-item routerLink="/tickets">tickets</a>
        <a mat-list-item routerLink="/detalletickets">detalletickets</a>
        <a mat-list-item routerLink="/movimientosinventario">movimientosinventario</a>
        <a mat-list-item routerLink="/personas">personas</a>
        <a mat-list-item routerLink="/detallemovimiento">detallemovimiento</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Menú</span>
      </mat-toolbar>
      <!-- Contenido de la página principal -->
  
      <!-- Resto de tu código -->
      <div class="menu-container">
        <mat-form-field>
          <mat-label>Filtrar</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
        </mat-form-field>
  
        <div class="toolbar">
          <button mat-button (click)="abrirInsertarModal()" class="orange-button">Insertar Existencia</button>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let departamento"> {{departamento.Id}} </td>
        </ng-container>
        <ng-container matColumnDef="Codigo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </th>
            <td mat-cell *matCellDef="let departamento"> {{departamento.Codigo}} </td>
        </ng-container>
        <ng-container matColumnDef="IdAlmacen">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> IdAlmacen </th>
            <td mat-cell *matCellDef="let departamento"> {{departamento.IdAlmacen}} </td>
        </ng-container>
        <ng-container matColumnDef="Fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
            <td mat-cell *matCellDef="let departamento"> {{departamento.Fecha}} </td>
        </ng-container>
        <ng-container matColumnDef="Cantidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
            <td mat-cell *matCellDef="let departamento"> {{departamento.Cantidad}} </td>
        </ng-container>
        <ng-container matColumnDef="Estatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
            <td mat-cell *matCellDef="let departamento"> {{departamento.Estatus}} </td>
        </ng-container>
        
        <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let elemento">
            <mat-icon (click)="abrirEditarModal(elemento)">edit</mat-icon>
        </td>
        </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
  </div>

