<h1 mat-dialog-title></h1>
<div mat-dialog-content class="mat-dialog-grid">
  <!-- Fila para el formulario -->
  <div class="mat-dialog-row">
    <!-- Columna para el campo de nombre -->
    <div class="mat-dialog-cell">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Ingresa el " [(ngModel)]="Nombre" />
      </mat-form-field>
    </div>
  </div>
  <div class="mat-dialog-row">
    <!-- Columna para el campo de nombre -->
    <div class="mat-dialog-cell">
      <mat-form-field>
        <mat-label>Ubicacion</mat-label>
        <input matInput placeholder="Ingresa el " [(ngModel)]="Ubicacion" />
      </mat-form-field>
    </div>
  </div>

  <div class="mat-dialog-row">
    <!-- Columna para el campo de nombre -->
    <div class="mat-dialog-cell">
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input
          matInput
          placeholder="Ingresa el usuario"
          [(ngModel)]="Usuario"
        />
      </mat-form-field>
    </div>
  </div>

  <!-- Puedes agregar más filas con más campos aquí -->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button cdkFocusInitial (click)="insertar()">Insertar</button>
</div>
