/* En tu archivo clientes.component.css */
table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 16px;
  }
  .table-filter {
    width: 300px; /* Ajusta según sea necesario */
  }
  mat-icon {
    cursor: pointer;
    color: #e53935; /* Color rojo para el icono de eliminar, ajusta según tu paleta de colores */
  }
  
  mat-icon:hover {
    color: #b71c1c; /* Color rojo más oscuro al pasar el cursor */
  }
  
  .orange-button {
    background-color: orange;
    color: white;
}




.sidenav {
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical */
  height: 100%; /* Ajusta la altura del menú para que ocupe toda la pantalla */
}

.menu-container {
  padding: 16px; /* Ajusta el espacio interno del contenedor del menú */
}



.table-container {
  margin-top: 16px; /* Ajusta el espacio superior del contenedor de la tabla */
}

.barra {
  background-color: orange;
  color: black;

}
.fondo-negro {
  background-color: black;
  color: white; /* Puedes ajustar el color del texto según tus preferencias */
}



