<h1 mat-dialog-title class="titulo">Editar Empleado</h1>
<div mat-dialog-content class="mat-dialog-grid">
  <!-- Fila para el formulario -->
  <div class="mat-dialog-row">
    <!-- Opciones de formulario -->

    <div class="mat-dialog-cell">
      <mat-form-field>
        <mat-label>Matricula</mat-label>
        <input
          matInput
          type="number"
          placeholder="Ingresa"
          [(ngModel)]="tickets.Matricula"
          required
          aria-required="true"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Puestos</mat-label>
        <input
          matInput
          type="number"
          placeholder="Ingresa"
          [(ngModel)]="tickets.Puesto"
          required
          aria-required="true"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Perfil</mat-label>
        <input
          matInput
          type="number"
          placeholder="Ingresa"
          [(ngModel)]="tickets.Perfil"
          required
          aria-required="true"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>idPersona</mat-label>
        <input
          matInput
          type="number"
          placeholder="Ingresa"
          [(ngModel)]="tickets.idPersona"
          required
          aria-required="true"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Activo</mat-label>
        <input
          matInput
          type="number"
          placeholder="Ingresa"
          [(ngModel)]="tickets.Activo"
          required
          aria-required="true"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input
          matInput
          type="number"
          placeholder="Ingresa"
          [(ngModel)]="tickets.Usuario"
          required
          aria-required="true"
        />
      </mat-form-field>
    </div>
  </div>
  <!-- Opciones botones-->
</div>
<div mat-dialog-actions>
  <button class="cancelar" mat-button (click)="onNoClick()">Cancelar</button>
  <button class="guardar" mat-button (click)="guardar()">
    Guardar Cambios
  </button>
</div>
