<mat-sidenav-container class="sidenav-container fondo-negro">
  <mat-sidenav #sidenav mode="side" class="sidenav">
    <!-- Contenido del menú -->
    <div class="contenedor">
      <mat-nav-list class="barra">
        <img src="assets/logo quirey limpio.png" alt="Icono" width="150" height="150">
        <a class="letrasBarra" routerLink="/almacenes">Almacenes</a>
<a class="letrasBarra" routerLink="/categoriamodulos">Categoria de Modulos</a>
<a class="letrasBarra" routerLink="/clientes">Clientes</a>
<a class="letrasBarra" routerLink="/detalletickets">Detalle de Tickets</a>
<a class="letrasBarra" routerLink="/detallemovimiento">Detalles de Movimiento</a>
<a class="letrasBarra" routerLink="/detalleperfil">Detalle de Perfil</a>
<a class="letrasBarra" routerLink="/empleados">Empleados</a>
<a class="letrasBarra" routerLink="/existencias">Existencias</a>
<a class="letrasBarra" routerLink="/modulos">Modulos</a>
<a class="letrasBarra" routerLink="/modulosusuario">Modulos Usuario</a>
<a class="letrasBarra" routerLink="/movimientosinventario">Movimientosde Inventario</a>
<a class="letrasBarra" routerLink="/perfiles">Perfiles</a>
<a class="letrasBarra" routerLink="/personas">Personas</a>
<a class="letrasBarra" routerLink="/puestos">Puestos</a>
<a class="letrasBarra" routerLink="/rutas">Rutas</a>
<a class="letrasBarra" routerLink="/sucursalsede">Sucursal Sede</a>
<a class="letrasBarra" routerLink="/tickets">Tickets</a>
<a class="letrasBarra" routerLink="/usuarios">Usuarios</a>

      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="content animated-background">
    <mat-toolbar class= "titulo1" style="background-color: #df9412; color: rgb(255, 255, 255)">
      <button class="Menuicono"  mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="Encabezado">ARTICULOS</span>
    </mat-toolbar>

    <!-- Contenido de la página principal -->

    <!-- Resto de tu código -->

    <div>
      <mat-form-field class="mat-form-field ">
        <mat-label>Filtrar</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Buscar..."
          #input
        />
      </mat-form-field>
    </div>
    <div class="toolbar">
      <button mat-button (click)="abrirInsertarModal()" class="orange-button">
        Añadir Articulo
      </button>
    </div>

    <div class="TabladeDatos">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let departamento">{{ departamento.Id }}</td>
        </ng-container>
        <ng-container matColumnDef="Codigo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo</th>
          <td mat-cell *matCellDef="let departamento">
            {{ departamento.Codigo }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripcion</th>
          <td mat-cell *matCellDef="let departamento">
            {{ departamento.Descripcion }}
          </td>
        </ng-container>
        <ng-container matColumnDef="UnidadMedida">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            UnidadMedida
          </th>
          <td mat-cell *matCellDef="let departamento">
            {{ departamento.UnidadMedida }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Costo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Costo</th>
          <td mat-cell *matCellDef="let departamento">
            {{ departamento.Costo }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Precio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
          <td mat-cell *matCellDef="let departamento">
            {{ departamento.Precio }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Estatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</th>
          <td mat-cell *matCellDef="let departamento">
            {{ departamento.Estatus }}
          </td>
        </ng-container>
        <ng-container matColumnDef="UsuarioActualiza">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            UsuarioActualiza
          </th>
          <td mat-cell *matCellDef="let departamento">
            {{ departamento.UsuarioActualiza }}
          </td>
        </ng-container>
        <ng-container matColumnDef="FechaActualiza">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            FechaActualiza
          </th>
          <td mat-cell *matCellDef="let departamento">
            {{ departamento.FechaActualiza }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let elemento">
            <mat-icon class="editar"
              (click)="abrirEditarModal(elemento)"
              >edit</mat-icon
            >
            <mat-icon class="borrar"
              (click)="eliminarDepartamento(elemento.Id)"
              >delete</mat-icon
            >
          </td>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row class="mat-row" *matRowDef="let row; columns: displayedColumns"></mat-row>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements">
      </mat-paginator>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
