<h1 mat-dialog-title class="titulo">Editar Modulo</h1>
<div mat-dialog-content class="mat-dialog-grid">
  <!-- Fila para el formulario -->
  <div class="mat-dialog-row">
    <!-- Opciones de formulario -->

    <div class="mat-dialog-cell">
      <mat-form-field>
        <mat-label>Modulo</mat-label>
        <input
          matInput
          placeholder="Ingresa el Modulo"
          [(ngModel)]="departamento.Modulo"
          step="1"
          required
          aria-required="true"
        />
      </mat-form-field>

      <!-- <mat-form-field>
        <mat-label>Activo</mat-label>
        <input
          matInput
          type="number"
          placeholder="Ingresa el Activo"
          [(ngModel)]="departamento.Activo"
          step="1"
          required
          aria-required="true"
        />
      </mat-form-field> -->

      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input
          matInput
          type="number"
          placeholder="Ingresa el Usuario"
          [(ngModel)]="departamento.Usuario"
          step="1"
          required
          aria-required="true"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>IdCategoria</mat-label>
        <input
          matInput
          type="number"
          placeholder="Ingresa el IdCategoria"
          [(ngModel)]="departamento.IdCategoria"
          step="1"
          required
          aria-required="true"
        />
      </mat-form-field>
    </div>
  </div>

  <!-- Opciones botones-->
</div>
<div mat-dialog-actions>
  <button class="cancelar" mat-button (click)="onNoClick()">Cancelar</button>
  <button class="guardar" mat-button (click)="guardar()">
    Guardar Cambios
  </button>
</div>
