<h1 mat-dialog-title class="titulo">Añadir Almacen</h1>
<div mat-dialog-content class="mat-dialog-grid">
  <!-- Fila para el formulario -->
  <div class="mat-dialog-row">
    <!-- Columna para el campo de nombre -->
    <div class="mat-dialog-cell">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input
          matInput
          placeholder="Ingresa el nombre"
          [(ngModel)]="nombreDepartamento"
          required
          aria-required="true"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="mat-dialog-row">
    <!-- Columna para el campo de dirección -->
    <div class="mat-dialog-cell">
      <mat-form-field>
        <mat-label>Dirección</mat-label>
        <input
          matInput
          placeholder="Ingresa la dirección"
          [(ngModel)]="direccionDepartamento"
          required
          aria-required="true"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="mat-dialog-row">
    <!-- Columna para el campo de usuario que actualiza -->
    <div class="mat-dialog-cell">
      <mat-form-field>
        <mat-label>Usuario Actualiza</mat-label>
        <input
          matInput
          placeholder="Ingresa el Usuario que actualiza"
          [(ngModel)]="usuarioactualizaDepartamento"
          required
          aria-required="true"
        />
      </mat-form-field>
    </div>
  </div>
  <!-- Puedes agregar más filas con más campos aquí -->
</div>
<div mat-dialog-actions>
  <button class="cancelar" mat-button cdkFocusInitial (click)="onNoClick()">
    Cancelar
  </button>
  <button class="insertar" mat-button cdkFocusInitial (click)="insertar()">
    Insertar
  </button>
</div>